In [2]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

Note on taxonomic ranks: kingdom > phylum or division > class > order > family > genus > species

In [3]:
teeth = pd.read_csv('CITES_data_20180717_teeth.csv')
teeth.head()

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,1977,II,Crocodylus spp.,Reptilia,Crocodylia,Crocodylidae,Crocodylus,US,PG,NaN,NaN,1.0,teeth,NaN,NaN,NaN
1,1978,II,Crocodylus spp.,Reptilia,Crocodylia,Crocodylidae,Crocodylus,AU,PG,NaN,NaN,15.0,teeth,NaN,P,NaN
2,1978,II,Dugong dugon,Mammalia,Sirenia,Dugongidae,Dugong,US,AU,NaN,NaN,100.0,teeth,NaN,NaN,NaN
3,1978,II,Loxodonta africana,Mammalia,Proboscidea,Elephantidae,Loxodonta,CH,DE,BW,NaN,1.0,teeth,NaN,NaN,NaN
4,1978,II,Loxodonta africana,Mammalia,Proboscidea,Elephantidae,Loxodonta,DE,CH,XX,NaN,17.0,teeth,NaN,NaN,NaN

In [4]:
ivory = pd.read_csv('CITES_data_20180717_ivory_carvings.csv')
ivory.head()

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,1976,I,Elephas maximus,Mammalia,Proboscidea,Elephantidae,Elephas,DE,IN,NaN,142.0,NaN,ivory carvings,NaN,T,NaN
1,1977,I,Elephas maximus,Mammalia,Proboscidea,Elephantidae,Elephas,CA,US,NaN,1.0,NaN,ivory carvings,NaN,P,NaN
2,1977,II,Elephantidae spp.,Mammalia,Proboscidea,Elephantidae,NaN,DK,GB,XX,60.0,NaN,ivory carvings,sets,NaN,NaN
3,1977,II,Elephantidae spp.,Mammalia,Proboscidea,Elephantidae,NaN,DK,HK,XX,22.0,NaN,ivory carvings,kg,NaN,NaN
4,1977,II,Elephantidae spp.,Mammalia,Proboscidea,Elephantidae,NaN,DK,IN,XX,144.0,NaN,ivory carvings,kg,NaN,NaN

In [8]:
teeth[teeth['Genus']=='Mammuthus']

Empty DataFrame
Columns: [Year, App., Taxon, Class, Order, Family, Genus, Importer, Exporter, Origin, Importer reported quantity, Exporter reported quantity, Term, Unit, Purpose, Source]
Index: []

In [4]:
teeth[teeth['Family']=='Elephantidae'].Taxon.value_counts()

Loxodonta africana    482
Elephas maximus        47
Elephantidae spp.      39
Elephas spp.            1
Name: Taxon, dtype: int64

In [14]:
teeth[teeth['Family']=='Elephantidae'].shape

(569, 16)

In [5]:
teeth.Class.value_counts()

Mammalia          7822
Reptilia           652
Elasmobranchii      54
Aves                 4
Name: Class, dtype: int64

In [6]:
teeth.Order.value_counts()

Artiodactyla         3103
Carnivora            2118
Cetacea              1758
Crocodylia            648
Proboscidea           569
Primates              184
Perissodactyla         47
Lamniformes            42
Sirenia                19
Rodentia               13
Pristiformes           10
Cingulata               6
Coraciiformes           4
Chiroptera              4
Serpentes               3
Carcharhiniformes       1
Pilosa                  1
Orectolobiformes        1
Sauria                  1
Name: Order, dtype: int64

In [16]:
ivory.shape

(32516, 16)

In [17]:
ivory[ivory['Genus']=='Mammuthus']

Empty DataFrame
Columns: [Year, App., Taxon, Class, Order, Family, Genus, Importer, Exporter, Origin, Importer reported quantity, Exporter reported quantity, Term, Unit, Purpose, Source]
Index: []

In [18]:
ivory.Family.value_counts()

Elephantidae      31763
Odobenidae          286
Hippopotamidae      247
Physeteridae         69
Monodontidae         11
Cheloniidae           9
Crocodylidae          5
Eschrichtiidae        5
Felidae               4
Delphinidae           4
Bovidae               3
Balaenidae            2
Pythonidae            2
Loxocemidae           1
Colubridae            1
Orchidaceae           1
Teiidae               1
Tapiridae             1
Rhinocerotidae        1
Name: Family, dtype: int64

In [19]:
teeth.Family.value_counts()

Hippopotamidae     3030
Ursidae             858
Physeteridae        811
Felidae             643
Elephantidae        569
Crocodylidae        544
Monodontidae        297
Odobenidae          261
Delphinidae         248
Canidae             223
Cercopithecidae     132
Phocoenidae          66
Mustelidae           62
Alligatoridae        48
Otariidae            43
Balaenidae           41
Lamnidae             41
Bovidae              35
Tayassuidae          28
Phocidae             26
Rhinocerotidae       22
Cebidae              20
Equidae              19
Balaenopteridae      16
Ziphiidae            16
Iniidae              14
Dugongidae           14
Dasyproctidae        13
Pristidae            10
Hominidae             9
Tapiridae             6
Pitheciidae           6
Dasypodidae           6
Trichechidae          5
Moschidae             4
Bucerotidae           4
Pteropodidae          4
Atelidae              4
Boidae                3
Cervidae              2
Hylobatidae           2
Suidae                2
Platanistidae         2
Eschrichtiidae        2
Carcharhinidae        1
Viverridae            1
Camelidae             1
Antilocapridae        1
Hyaenidae             1
Cetorhinidae          1
Bradypodidae          1
Iguanidae             1
Rhincodontidae        1
Name: Family, dtype: int64

In [21]:
print(ivory.shape, teeth.shape)

(32516, 16) (8532, 16)